* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: black;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 2rem;
  color: black;
  background: rgb(29, 28, 26);
}
